In [1]:
import numpy as np
import pandas as pd

In [3]:
!pip install scikit-network==0.24.0

Collecting scikit-network==0.24.0
  Downloading scikit-network-0.24.0.tar.gz (1.7 MB)
                                              0.0/1.7 MB ? eta -:--:--
                                              0.0/1.7 MB ? eta -:--:--
                                              0.0/1.7 MB ? eta -:--:--
                                              0.0/1.7 MB ? eta -:--:--
                                              0.0/1.7 MB ? eta -:--:--
                                              0.0/1.7 MB ? eta -:--:--
                                              0.0/1.7 MB ? eta -:--:--
     --                                       0.1/1.7 MB 344.8 kB/s eta 0:00:05
     --                                       0.1/1.7 MB 344.8 kB/s eta 0:00:05
     --                                       0.1/1.7 MB 288.8 kB/s eta 0:00:06
     --                                       0.1/1.7 MB 288.8 kB/s eta 0:00:06
     --                                       0.1/1.7 MB 288.8 kB/s eta 0:00:06
     ----                                     0.2/1.7 MB 368.6 kB/s eta 0:00:05
     ----                                     0.2/1.7 MB 368.6 kB/s eta 0:00:05
     ------                                   0.3/1.7 MB 437.2 kB/s eta 0:00:04
     ------                                   0.3/1.7 MB 437.2 kB/s eta 0:00:04
     ------                                   0.3/1.7 MB 437.2 kB/s eta 0:00:04
     ------                                   0.3/1.7 MB 437.2 kB/s eta 0:00:04
     -------                                  0.3/1.7 MB 411.1 kB/s eta 0:00:04
     -------                                  0.3/1.7 MB 411.1 kB/s eta 0:00:04
     -------                                  0.3/1.7 MB 411.1 kB/s eta 0:00:04
     --------                                 0.4/1.7 MB 377.6 kB/s eta 0:00:04
     --------                                 0.4/1.7 MB 377.6 kB/s eta 0:00:04
     ---------                                0.4/1.7 MB 383.4 kB/s eta 0:00:04
     ---------                                0.4/1.7 MB 383.4 kB/s eta 0:00:04
     ---------                                0.4/1.7 MB 383.4 kB/s eta 0:00:04
     ----------                               0.5/1.7 MB 397.0 kB/s eta 0:00:04
     ----------                               0.5/1.7 MB 397.0 kB/s eta 0:00:04
     -----------                              0.5/1.7 MB 411.6 kB/s eta 0:00:03
     -----------                              0.5/1.7 MB 411.6 kB/s eta 0:00:03
     ------------                             0.5/1.7 MB 393.3 kB/s eta 0:00:04
     ------------                             0.6/1.7 MB 416.4 kB/s eta 0:00:03
     --------------                           0.6/1.7 MB 424.9 kB/s eta 0:00:03
     --------------                           0.6/1.7 MB 427.6 kB/s eta 0:00:03
     --------------                           0.6/1.7 MB 427.6 kB/s eta 0:00:03
     ---------------                          0.7/1.7 MB 441.4 kB/s eta 0:00:03
     ---------------                          0.7/1.7 MB 441.4 kB/s eta 0:00:03
     -----------------                        0.8/1.7 MB 462.0 kB/s eta 0:00:03
     -----------------                        0.8/1.7 MB 462.0 kB/s eta 0:00:03
     -------------------                      0.8/1.7 MB 472.4 kB/s eta 0:00:02
     -------------------                      0.8/1.7 MB 472.4 kB/s eta 0:00:02
     --------------------                     0.9/1.7 MB 488.7 kB/s eta 0:00:02
     ---------------------                    1.0/1.7 MB 494.3 kB/s eta 0:00:02
     ----------------------                   1.0/1.7 MB 507.5 kB/s eta 0:00:02
     ------------------------                 1.1/1.7 MB 532.5 kB/s eta 0:00:02
     -------------------------                1.1/1.7 MB 549.6 kB/s eta 0:00:02
     ---------------------------              1.2/1.7 MB 566.7 kB/s eta 0:00:01
     ----------------------------             1.2/1.7 MB 578.3 kB/s eta 0:00:01
     ------------------------------           1.3/1.7 MB 603.5 kB/s eta 0:00:01
     -------------------------------          1.4/1.7 MB 609.1 kB/s eta 0:00:01
     ---------------------------------        1.4/1.7 MB 632.9 kB/s eta 0:00:01
     ---------------------------------        1.5/1.7 MB 633.4 kB/s eta 0:00:01
     -----------------------------------      1.5/1.7 MB 646.8 kB/s eta 0:00:01
     -------------------------------------    1.6/1.7 MB 663.9 kB/s eta 0:00:01
     -------------------------------------    1.6/1.7 MB 663.8 kB/s eta 0:00:01
     ---------------------------------------  1.7/1.7 MB 680.2 kB/s eta 0:00:01
     ---------------------------------------- 1.7/1.7 MB 682.4 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [243 lines of output]
        error: subprocess-exited-with-error

        Ã— Preparing metadata (pyproject.toml) did not run successfully.
        â”‚ exit code: 1
        â•°â”€> [201 lines of output]
            setup.py:66: RuntimeWarning: NumPy 1.20.0 may not yet support Python 3.10.
              warnings.warn(
            Running from numpy source directory.
            setup.py:485: UserWarning: Unrecognized setuptools command, proceeding with generating Cython sources and expanding templates
              run_build = parse_setuppy_commands()
            Cythonizing sources
            Processing numpy/random\_bounded_integers.pxd.in
            Processing numpy/random\bit_generator.pyx
            C:\Users\Souvik Chand\AppData\Local\Temp\pip-wheel-0l832mcc\numpy_827e9a77376b4cb397fa3108ab018f32\tools\cythonize.py:67: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives
              from distutils.version import LooseVersion
            Processing numpy/random\mtrand.pyx
            Processing numpy/random\_bounded_integers.pyx.in
            Processing numpy/random\_common.pyx
            Processing numpy/random\_generator.pyx
            Processing numpy/random\_mt19937.pyx
            Processing numpy/random\_pcg64.pyx
            Processing numpy/random\_philox.pyx
            Processing numpy/random\_sfc64.pyx
            blas_opt_info:
            blas_mkl_info:
            No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
            customize MSVCCompiler
              libraries mkl_rt not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            blis_info:
              libraries blis not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            openblas_info:
              libraries openblas not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
            get_default_fcompiler: matching types: '['gnu', 'intelv', 'absoft', 'compaqv', 'intelev', 'gnu95', 'g95', 'intelvem', 'intelem', 'flang']'
            customize GnuFCompiler
            Could not locate executable g77
            Could not locate executable f77
            customize IntelVisualFCompiler
            Could not locate executable ifort
            Could not locate executable ifl
            customize AbsoftFCompiler
            Could not locate executable f90
            customize CompaqVisualFCompiler
            Could not locate executable DF
            customize IntelItaniumVisualFCompiler
            Could not locate executable efl
            customize Gnu95FCompiler
            Could not locate executable gfortran
            Could not locate executable f95
            customize G95FCompiler
            Could not locate executable g95
            customize IntelEM64VisualFCompiler
            customize IntelEM64TFCompiler
            Could not locate executable efort
            Could not locate executable efc
            customize PGroupFlangCompiler
            Could not locate executable flang
            don't know how to compile Fortran code on platform 'nt'
              NOT AVAILABLE

            atlas_3_10_blas_threads_info:
            Setting PTATLAS=ATLAS
              libraries tatlas not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            atlas_3_10_blas_info:
              libraries satlas not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            atlas_blas_threads_info:
            Setting PTATLAS=ATLAS
              libraries ptf77blas,ptcblas,atlas not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            atlas_blas_info:
              libraries f77blas,cblas,atlas not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            C:\Users\Souvik Chand\AppData\Local\Temp\pip-wheel-0l832mcc\numpy_827e9a77376b4cb397fa3108ab018f32\numpy\distutils\system_info.py:1989: UserWarning:
                Optimized (vendor) Blas libraries are not found.
                Falls back to netlib Blas library which has worse performance.
                A better performance should be easily gained by switching
                Blas library.
              if self._calc_info(blas):
            blas_info:
              libraries blas not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            C:\Users\Souvik Chand\AppData\Local\Temp\pip-wheel-0l832mcc\numpy_827e9a77376b4cb397fa3108ab018f32\numpy\distutils\system_info.py:1989: UserWarning:
                Blas (http://www.netlib.org/blas/) libraries not found.
                Directories to search for the libraries can be specified in the
                numpy/distutils/site.cfg file (section [blas]) or by setting
                the BLAS environment variable.
              if self._calc_info(blas):
            blas_src_info:
              NOT AVAILABLE

            C:\Users\Souvik Chand\AppData\Local\Temp\pip-wheel-0l832mcc\numpy_827e9a77376b4cb397fa3108ab018f32\numpy\distutils\system_info.py:1989: UserWarning:
                Blas (http://www.netlib.org/blas/) sources not found.
                Directories to search for the sources can be specified in the
                numpy/distutils/site.cfg file (section [blas_src]) or by setting
                the BLAS_SRC environment variable.
              if self._calc_info(blas):
              NOT AVAILABLE

            non-existing path in 'numpy\\distutils': 'site.cfg'
            lapack_opt_info:
            lapack_mkl_info:
              libraries mkl_rt not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            openblas_lapack_info:
              libraries openblas not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            openblas_clapack_info:
              libraries openblas,lapack not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            flame_info:
              libraries flame not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            atlas_3_10_threads_info:
            Setting PTATLAS=ATLAS
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries tatlas,tatlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries lapack_atlas not found in C:\
              libraries tatlas,tatlas not found in C:\
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
              libraries tatlas,tatlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
            <class 'numpy.distutils.system_info.atlas_3_10_threads_info'>
              NOT AVAILABLE

            atlas_3_10_info:
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries satlas,satlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries lapack_atlas not found in C:\
              libraries satlas,satlas not found in C:\
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
              libraries satlas,satlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
            <class 'numpy.distutils.system_info.atlas_3_10_info'>
              NOT AVAILABLE

            atlas_threads_info:
            Setting PTATLAS=ATLAS
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries ptf77blas,ptcblas,atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries lapack_atlas not found in C:\
              libraries ptf77blas,ptcblas,atlas not found in C:\
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
              libraries ptf77blas,ptcblas,atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
            <class 'numpy.distutils.system_info.atlas_threads_info'>
              NOT AVAILABLE

            atlas_info:
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries f77blas,cblas,atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib
              libraries lapack_atlas not found in C:\
              libraries f77blas,cblas,atlas not found in C:\
              libraries lapack_atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
              libraries f77blas,cblas,atlas not found in C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\libs
            <class 'numpy.distutils.system_info.atlas_info'>
              NOT AVAILABLE

            lapack_info:
              libraries lapack not found in ['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\lib', 'C:\\', 'C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\libs']
              NOT AVAILABLE

            C:\Users\Souvik Chand\AppData\Local\Temp\pip-wheel-0l832mcc\numpy_827e9a77376b4cb397fa3108ab018f32\numpy\distutils\system_info.py:1849: UserWarning:
                Lapack (http://www.netlib.org/lapack/) libraries not found.
                Directories to search for the libraries can be specified in the
                numpy/distutils/site.cfg file (section [lapack]) or by setting
                the LAPACK environment variable.
              return getattr(self, '_calc_info_{}'.format(name))()
            lapack_src_info:
              NOT AVAILABLE

            C:\Users\Souvik Chand\AppData\Local\Temp\pip-wheel-0l832mcc\numpy_827e9a77376b4cb397fa3108ab018f32\numpy\distutils\system_info.py:1849: UserWarning:
                Lapack (http://www.netlib.org/lapack/) sources not found.
                Directories to search for the sources can be specified in the
                numpy/distutils/site.cfg file (section [lapack_src]) or by setting
                the LAPACK_SRC environment variable.
              return getattr(self, '_calc_info_{}'.format(name))()
              NOT AVAILABLE

            numpy_linalg_lapack_lite:
              FOUND:
                language = c
                define_macros = [('HAVE_BLAS_ILP64', None), ('BLAS_SYMBOL_SUFFIX', '64_')]

            C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\distutils\dist.py:274: UserWarning: Unknown distribution option: 'define_macros'
              warnings.warn(msg)
            running dist_info
            running build_src
            build_src
            building py_modules sources
            creating build
            creating build\src.win-amd64-3.10
            creating build\src.win-amd64-3.10\numpy
            creating build\src.win-amd64-3.10\numpy\distutils
            building library "npymath" sources
            error: Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/
            [end of output]

        note: This error originates from a subprocess, and is likely not a problem with pip.
      error: metadata-generation-failed

      Ã— Encountered error while generating package metadata.
      â•°â”€> See above for output.

      note: This is an issue with the package mentioned above, not pip.
      hint: See above for details.
      Traceback (most recent call last):
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\installer.py", line 75, in fetch_build_egg
          subprocess.check_call(cmd)
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\subprocess.py", line 369, in check_call
          raise CalledProcessError(retcode, cmd)
      subprocess.CalledProcessError: Command '['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\python.exe', '-m', 'pip', '--disable-pip-version-check', 'wheel', '--no-deps', '-w', 'C:\\Users\\SOUVIK~1\\AppData\\Local\\Temp\\tmplm2sw9ru', '--quiet', 'numpy==1.20.0']' returned non-zero exit status 1.

      The above exception was the direct cause of the following exception:

      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "C:\Users\Souvik Chand\AppData\Local\Temp\pip-install-lbkxq3p3\scikit-network_66ea59913bfa4dc6b43fe24bda8c4fad\setup.py", line 14, in <module>
          dist.Distribution().fetch_build_eggs(['Cython', 'numpy==1.20.0'])
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\dist.py", line 785, in fetch_build_eggs
          resolved_dists = pkg_resources.working_set.resolve(
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\site-packages\pkg_resources\__init__.py", line 766, in resolve
          dist = best[req.key] = env.best_match(
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\site-packages\pkg_resources\__init__.py", line 1051, in best_match
          return self.obtain(req, installer)
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\site-packages\pkg_resources\__init__.py", line 1063, in obtain
          return installer(requirement)
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\dist.py", line 844, in fetch_build_egg
          return fetch_build_egg(self, req)
        File "C:\Users\Souvik Chand\AppData\Local\Programs\Python\Python310\lib\site-packages\setuptools\installer.py", line 77, in fetch_build_egg
          raise DistutilsError(str(e)) from e
      distutils.errors.DistutilsError: Command '['C:\\Users\\Souvik Chand\\AppData\\Local\\Programs\\Python\\Python310\\python.exe', '-m', 'pip', '--disable-pip-version-check', 'wheel', '--no-deps', '-w', 'C:\\Users\\SOUVIK~1\\AppData\\Local\\Temp\\tmplm2sw9ru', '--quiet', 'numpy==1.20.0']' returned non-zero exit status 1.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
!rm *.tsv.gz
!wget -q https://datasets.imdbws.com/name.basics.tsv.gz
!wget -q https://datasets.imdbws.com/title.principals.tsv.gz
!wget -q https://datasets.imdbws.com/title.basics.tsv.gz
!wget -q https://datasets.imdbws.com/title.akas.tsv.gz
!ls -la

'rm' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.
'ls' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
# load the titles
title = pd.read_csv('title.basics.tsv.gz', sep='\t', low_memory=True).set_index('tconst')[['titleType','primaryTitle','startYear']]

C:\Users\Souvik Chand\AppData\Local\Temp\ipykernel_6248\4140932607.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title = pd.read_csv('title.basics.tsv.gz', sep='\t', low_memory=True).set_index('tconst')[['titleType','primaryTitle','startYear']]

In [9]:
title.head()

          titleType            primaryTitle startYear
tconst
tt0000001     short              Carmencita      1894
tt0000002     short  Le clown et ses chiens      1892
tt0000003     short          Pauvre Pierrot      1892
tt0000004     short             Un bon bock      1892
tt0000005     short        Blacksmith Scene      1893

In [10]:
title.dtypes

titleType       object
primaryTitle    object
startYear       object
dtype: object

In [11]:
title = title[title['startYear'] > '1990'] # filter by year

In [12]:
title = title[title['startYear'] != '\\N']
title.shape

(7518150, 3)

In [13]:
title.head()

          titleType                 primaryTitle startYear
tconst
tt0011801     movie             Tötet nicht mehr      2019
tt0013274     movie  Istoriya grazhdanskoy voyny      2021
tt0015414     movie       La tierra de los toros      2000
tt0015724     movie                Dama de noche      1993
tt0034413     short           Youth Gets a Break      2001

In [14]:
# load the cast of each film
cast  = pd.read_csv('title.principals.tsv.gz', sep = '\t')[['tconst', 'nconst', 'category']]
# only consider actors, not directors, composors etc.
cast = cast[cast.category.isin({'actor','actress'})]
cast.head()

       tconst     nconst category
11  tt0000005  nm0443482    actor
12  tt0000005  nm0653042    actor
16  tt0000007  nm0179163    actor
17  tt0000007  nm0183947    actor
21  tt0000008  nm0653028    actor

In [15]:
# only consider movies, not series, etc
movies = title[title['titleType'] == 'movie']
cast = cast[cast['tconst'].isin(movies.index)]
cast.head()

          tconst     nconst category
80784  tt0011801  nm0459029    actor
80785  tt0011801  nm0681726    actor
80786  tt0011801  nm0692612  actress
80787  tt0011801  nm0726256    actor
80788  tt0011801  nm0776458    actor

In [ ]:
region = pd.read_csv('title.akas.tsv.gz',sep='\t',usecols=['titleId','region'],low_memory = True,dtype={'region':'str','titleId':'str'}).set_index('titleId')['region']
region.value_counts().head(10)

JP    4002434
FR    4001268
DE    3988545
IN    3932614
ES    3924355
IT    3904983
PT    3840735
\N    1865253
US    1360525
GB     422184
Name: region, dtype: int64

In [ ]:
region.head()

titleId
tt0000001    UA
tt0000001    DE
tt0000001    HU
tt0000001    GR
tt0000001    RU
Name: region, dtype: object

In [ ]:
name = pd.read_csv('name.basics.tsv.gz', sep = '\t', low_memory=True, na_values = '\\N', dtype={'birthYear': float}).set_index('nconst')[['primaryName', 'birthYear']]
name.head()

               primaryName  birthYear
nconst
nm0000001     Fred Astaire     1899.0
nm0000002    Lauren Bacall     1924.0
nm0000003  Brigitte Bardot     1934.0
nm0000004     John Belushi     1949.0
nm0000005   Ingmar Bergman     1918.0

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
def get_pairs(lang=None, min_acted=25, min_pairings=1):
    '''
    Returns an adjacency matrix and actor mapping of actor pairs where:
    - Each actor has acted in at least min_acted films
    - The two actors have acted together in at least min_pairings films
    - And (optionally), belong to a region `lang` (IN, UN, etc)
    '''
    graph = cast
    if lang is not None:
        graph = graph[graph['tconst'].isin(region[region == lang].index)]
        # graph = graph[graph['tconst'].isin(region[region == lang].index)]
    name_freq = graph['nconst'].value_counts()
    top_names = name_freq[name_freq >= min_acted]
    top_actors = graph[graph['nconst'].isin(top_names.index)]

    p = top_actors.copy()
    p['title'] = p['tconst'].astype('category')
    p['name'] = p['nconst'].astype('category')

    row = p['title'].cat.codes.values
    col = p['name'].cat.codes.values
    data = np.ones(len(p), dtype='int')

    matrix = csr_matrix((data, (row, col)))
    square = matrix.T * matrix
    square.setdiag(0)
    square = square.tocoo()

    pairs = pd.DataFrame({
        'row': square.row,
        'col': square.col,
        'n': square.data
    })
    pairs = pairs[pairs.n >= min_pairings].reset_index(drop=True)
    return pairs, name.reindex(p['name'].cat.categories)

def lookup(pairs, cat):
    pairs = pd.concat([
        pairs,
        cat.iloc[pairs.row].reset_index(drop=True),
        cat.iloc[pairs.col].reset_index(drop=True),
    ], axis=1)
    pairs = pairs.drop(columns=['row', 'col'])
    pairs.columns = ['count', 'name1', 'year1', 'name2', 'year2']
    return pairs.sort_values('count', ascending=False)

In [ ]:
pairs, cat = get_pairs(lang='IN', min_acted=1, min_pairings=1) # setting lang = 'IN' will apply a filter allowing only INdian movies

In [ ]:
ForKumu = lookup(pairs, cat)

In [ ]:
ForKumu = ForKumu[['name1', 'name2', 'count']]
ForKumu = ForKumu.rename(columns={'name1':'From',
                                  'name2':'To',
                                  'count':'Strength'})

In [ ]:
ForKumu.head()

               From           To  Strength
49374       Bahadur  Adoor Bhasi       172
71837   Adoor Bhasi      Bahadur       172
161691  Adoor Bhasi  Jayabharati       125
49363   Jayabharati  Adoor Bhasi       125
49354    Prem Nazir  Adoor Bhasi       124

In [ ]:
ForKumu.shape # if the kumu website crashes when you try to upload this massive dataset, try uploading a sample of this, like the first 10,000 rows.

(862080, 3)

In [ ]:
ForKumu.to_excel("pairs_actor_network_1.xlsx", index = False)